alabaster
altgraph
appdirs
atomicwrites
attrs
Babel
black
certifi
cfgv
chardet
click
colorama
distlib
docutils
EasyProcess
filelock
future
identify
idna
imagesize
importlib-metadata==1.6.1
Jinja2
MarkupSafe
more-itertools
nodeenv
packaging
pathspec
pefile
pluggy
pre-commit
py
Pygments
PyInstaller
pyparsing
PyQt5
PyQt5-sip
pytest
pytest-qt
pytest-xvfb
pytz
PyVirtualDisplay
pywin32-ctypes
PyYAML
regex
requests
rstcheck
six
snowballstemmer
Sphinx
sphinx-qt-documentation
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml
typed-ast
urllib3
virtualenv
wcwidth
zipp
